
.title_box h1{font-size: 18px;}
.title_box p{font-size: 16px;}
footer{
    background-color: #000;
    padding: 30px;
    margin-top: 40px;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li a{color: #fff;
text-transform: capitalize; margin: 5px; display:inline-block;}
footer ul li a:hover{
    text-decoration: none;
    color: #fff;
}